<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<nav th:replace="fragments :: recruiterNavbar(${highLightPostJob}, ${highLightPostList}, ${highLightSearch})"></nav>

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-body">
                <!--<div class="text-center feedback">-->
                    <!--<h2 th:text="'Resume for ' + ${firstAndLastName}"></h2>-->
                    <!--<span class="glyphicon glyphicon-education"></span>-->
                    <!--<span th:text="${currentNumRecords} + ' of 10 educational achievements entered'"></span>-->
                <!--</div>-->

                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><b>Job Post Confirmation</b></h4></div>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${'Employer: ' + jobJustAdded.employer}"></li>
                        <li class="list-group-item" th:text="${'Title: ' + jobJustAdded.title}"></li>
                        <li class="list-group-item" th:text="${'Description: ' + jobJustAdded.description}"></li>
                        <li class="list-group-item" th:text="${'Salary Range: $' + jobJustAdded.minSalary + ' - $' + jobJustAdded.maxSalary}"></li>

                        <!-- TODO can't #lists.sort here, get a LAZY fetch exception... would be nice to list in alphabetical order -->
                        <th:block th:each = "item : ${jobJustAdded.skills}">
                            <li class="list-group-item" th:text="${'Skill: ' + item.skill + ' - ' + item.rating}"></li>
                        </th:block>
                    </ul>

                    <br/>

                    <!-- display a table of seekers with skills that match the job just posted -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <caption><h3><b>Users who have any of the posted skills</b></h3></caption>
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="item : ${#lists.sort(peopleWithMatchedSkills)}">
                                    <td th:text="${item.nameFirst}"></td>
                                    <td th:text="${item.nameLast}"></td>
                                    <td th:text="${item.email}"></td>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                </div>
                <a class="btn btn-primary bold-input" th:href="@{~/addjob}"><b>+ Add Another</b></a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>