<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default card card-3">
            <div class="panel-body">
                <div class="text-center feedback">
                    <h2>Sign up for a new account</h2>
                </div>

                <form action="#" th:action="@{/register}" th:object="${newPerson}" method="post">

                    <!--<input type="hidden" th:field="*{id}"/>-->

                    <div class="form-group">
                        <label class="section-heading" for="nameFirst">First Name</label>
                        <input id="nameFirst" class="form-control" type="text" th:field="*{nameFirst}" autofocus/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('nameFirst')}" th:errors="*{nameFirst}"></p>
                    </div>
                    <div class="form-group">
                        <label class="section-heading" for="nameLast">Last Name</label>
                        <input id="nameLast" class="form-control" type="text" th:field="*{nameLast}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('nameLast')}" th:errors="*{nameLast}"></p>
                    </div>
                    <div class="form-group">
                        <label class="section-heading" for="email">Email</label>
                        <input id="email" class="form-control" type="text" th:field="*{email}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>
                    <div class="form-group">
                        <label class="section-heading" for="username">Username</label>
                        <input id="username" class="form-control" type="text" th:field="*{username}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </div>
                    <div class="form-group">
                        <label class="section-heading" for="password">Password</label>
                        <input id="password" class="form-control" type="text" th:field="*{password}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>
                    <div class="form-group">
                        <label class="section-heading" for="role">Account Type</label>
                        <select id="role" name="selectedRole">
                            <option value="ROLE_USER">Job Seeker</option>
                            <option value="ROLE_RECRUITER">Recruiter</option>
                        </select>
                    </div>

                    <!--<div class="clearfix"></div>-->
                    <input class="btn btn-primary bold-input" type="submit" value="Submit"/>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript and modal divs -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>