<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>
<body>

<div sec:authorize="hasRole('ROLE_RECRUITER')">
    <nav th:replace="fragments :: recruiterNavbar(false, false, true)"></nav>
</div>
<div th:if="${pageState} == null" th:remove="all" sec:authorize="hasRole('ROLE_USER')">
    <nav th:replace="fragments :: navbar(${pageState})"></nav>
</div>

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <p th:if="${emptySearchString}" class="alert alert-danger text-center" th:text="${'Please enter something to search for'}"></p>
                <p th:if="${tooManyNames}" class="alert alert-danger text-center" th:text="${'Please enter only a first or last name, or both'}"></p>

                <!-- search for people -->
                <form action="#" th:action="@{~/search}" method="post">
                    <!-- hidden input so search post route will know what repo to query -->
                    <input type="hidden" name="type" value="people">

                    <div class="form-group">
                        <label class="section-heading" for="people">Search for People</label>
                        <input id="people" class="form-control" type="text" name="searchString"/>
                    </div>
                    <input class="btn btn-primary bold-input" type="submit" value="Search"/>
                </form>

                <br/>
                <br/>

                <!-- search for jobs -->
                <form action="#" th:action="@{~/search}" method="post">
                    <!-- hidden input so search post route will know what repo to query -->
                    <input type="hidden" name="type" value="jobs">

                    <div class="form-group">
                        <label class="section-heading" for="jobs">Search for Jobs</label>
                        <input id="jobs" class="form-control" type="text" name="searchString"/>
                    </div>
                    <input class="btn btn-primary bold-input" type="submit" value="Search"/>
                </form>

                <br/>
                <br/>

                <!-- search for companies -->
                <form action="#" th:action="@{~/search}" method="post">
                    <!-- hidden input so search post route will know what repo to query -->
                    <input type="hidden" name="type" value="companies">

                    <div class="form-group">
                        <label class="section-heading" for="companies">Search for Companies</label>
                        <input id="companies" class="form-control" type="text" name="searchString"/>
                    </div>
                    <input class="btn btn-primary bold-input" type="submit" value="Search"/>
                </form>

                <br/>
                <br/>

                <!-- search for schools -->
                <form action="#" th:action="@{~/search}" method="post">
                    <!-- hidden input so search post route will know what repo to query -->
                    <input type="hidden" name="type" value="schools">

                    <div class="form-group">
                        <label class="section-heading" for="schools">Search for Schools</label>
                        <input id="schools" class="form-control" type="text" name="searchString"/>
                    </div>
                    <input class="btn btn-primary bold-input" type="submit" value="Search"/>
                </form>
                
                
        </div>
    </div>
</div><!-- container -->

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>
