<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<!--<nav th:replace="fragments :: adminNavbar(${highlightDirectory}, ${highlightCourses}, ${highlightAddCourse}, ${highlightAddStudent})"></nav>-->

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <!--<caption><h3><b>Job Postings</b></h3></caption>-->
                        <caption><h4 th:text="${message}"><b></b></h4></caption>

                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Employer</th>
                                <th>MinSalary</th>
                                <th>Description</th>
                                <th>Skills</th>
                            </tr>
                        </thead>

                        <tbody>
                            <th:block th:each="item:${person.jobs}">
                                <td th:text="${item.title}"></td>
                                <td th:text="${item.employer}"></td>
                                <td th:text="${item.minSalary}"></td>
                                <td th:text="${item.description}"></td>

                                <!-- ??????????????????????????????? -->
                                <th:block th:each="askill:${item.skills}">
                                    <td th:text="${askill.skill}"></td>
                                </th:block>
                            </th:block>
                        </tbody>

                        <!--<tfoot>-->
                            <!--<tr>-->
                                <!--<td><p><b>Total Entries</b></p></td>-->
                                <!--<td>-->
                                    <!--<div th:with="sum=${numEds + numWorkExps + numSkills}">-->
                                        <!--<p th:text="${sum}"></p>-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</tfoot>-->

                    </table>
                </div>

            </div><!-- panel-body -->
        </div>
    </div>
</div><!-- container -->

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>