<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<nav th:replace="fragments :: recruiterNavbar(${highLightPostJob}, ${highLightPostList}, ${highLightSearch})"></nav>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <!--<caption><h3><b>Job Postings</b></h3></caption>-->
                        <caption><h4 th:text="${message}"><b></b></h4></caption>

                        <thead>
                            <tr>
                                <th>Employer</th>
                                <th>Title</th>
                                <!--<th>Salary</th>-->
                                <th>Description</th>
                                <th>Skills</th>
                                <!--<th>Rating</th>-->
                            </tr>
                        </thead>

                        <tbody>
                            <!-- sort jobs in ascending order by id (see Jobs class, which implements Comparable) -->
                            <th:block th:each="item : ${#lists.sort(person.jobs)}">
                                <tr>
                                    <td><a th:text="${item.employer}" th:href="@{|/update/${item.id}?type=job|}"></a></td>
                                    <td><a th:text="${item.title}" th:href="@{|/update/${item.id}?type=job|}"></a></td>
                                    <!--<td th:text="${item.minSalary} + ' - ' + ${item.maxSalary}"></td>-->
                                    <td><a th:text="${item.description}" th:href="@{|/update/${item.id}?type=job|}"></a></td>
                                    <td>
                                        <!-- nested table, so each skill looks nice at the end of each job row -->
                                        <table>
                                            <tbody>
                                                <th:block th:each="askill : ${item.skills}">
                                                    <tr>
                                                        <td><a th:text="${askill.skill}" th:href="@{|/update/${item.id}?type=job|}"></a></td>
                                                        <!--<td><a th:text="${askill.rating}" th:href="@{|/update/${item.id}?type=job|}"></a></td>-->
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>

                    </table>
                </div>

            </div><!-- panel-body -->
        </div>
    </div>
</div><!-- container -->

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>